body {
    background-color: #131313;
    margin: 0;
}
.header {
    border-bottom: 1px solid #272727;
    width: 75%;
    margin: 0 auto;
    overflow: auto;   
}

.logo, .navigation, .navigation-item {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}
.logo {
    float: left;
    padding: 1rem 0; 
    size: 10px;
}

.navigation {
    float: right; 
    font-family:'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;      
}

.navigation-item a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 1.3rem .5rem;
    margin-left: 10px; 
} 

.active_ a {
    color: #272727;
    text-decoration:line-through;
   }  

.title {
    color: #FFFFFF;
    width: 75%;
    margin: 0 auto;
    padding: 80px 0 30px;
    background-image: url(../image/wall.png);
    background-position:top;      
}

.line {
    
    border-left: 2px solid #272727;
    margin-left: 0px;
    padding-left: 10px;
    color: #FFFFFF;
    font-family:'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 19px;
    font-weight:400;   
}

table {
    border-collapse:collapse;
    width: 75%;
    text-align: left;
    height: 400px;   
}

thead {
    color: #727272;
    font-family:'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
}

 tbody {
    border: 1px solid #272727;
    color: #FFFFFF;
    font-family:'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    line-height: 25px;
 }
 
 td {
    border-bottom: 0.5px solid #272727;
    padding-left: 10px;
 }
  
 .pagination a {
  text-decoration: none;
  padding: 150px 20px;
  color: #FFFFFF;
  font-family:'Montserrat', sans-serif;
  font-size: 13px;
  text-align: center; 
  height: 100px;
 }

 .pagination a.active  {
    color: #272727;
  }

  .pagination {
    margin-left: 27%;
  }
   