html {
    overflow-x: hidden;
}


body {
    background-color: #201636; 
    font-family: "Montserrat";
    color: #FFFFFF;
    
}

.about {
    background-image: linear-gradient(0deg, #211637 0%, rgba(34, 24, 57, 0) 1%), 
    url("../image/img1.png");
    background-repeat: no-repeat;   
    width: 1120px;
    height: 500px;
    background-size: 820px;
    margin: 150px 230px 20px 20px;
   
 }
 
 .start {
     padding-left: 590px; 
     padding-top: 100px;
 }

 .title {
    padding-bottom: 35px;
    font-size: 16px;
    font-weight: 700;  
 }

 .description {
    padding-bottom: 35px;
    font-size: 14px;
    font-weight: 400;
    word-spacing: 1.5px;
 }

 .task {
     background-color: #8F8A9A;
     border-radius: 50px;
     color: #211637;
     text-align: center;
     font-weight: 700;
     font-size: 11px;
     width: 470px;
     padding: 7px; 
 }

 .button {
     background-image: url("../image/project.png");
     background-size: 60px;
     background-repeat: no-repeat;
     width: 50px;
     height: 50px;
 }

 .date {
     width: 200px;
     padding-left: 65px;
     padding-top: 15px;
     font-size: 12px;
     font-weight: 700;
     text-transform: uppercase; 
 }
 
 .line {
    background-image: url("../image/line.png");
    background-repeat: no-repeat;
    background-size: 70px;
    height: 100px;
    width: 100px;
    margin-left: 185px;
    margin-top: -25px;
 }

 .press {
     background-color: #F09F0C;
     color: #1F1F1F;
     width: 180px;
     height: 30px;
     font-size: 10px; 
     font-weight: 700;
     line-height: 30px;
     text-align: center;
     text-transform: uppercase;
     margin-top: -100px;
     margin-left: 260px;
     box-shadow: 3px 5px 7px rgba(240, 159, 12, .2);
 }

 .average {
     background-image: linear-gradient(180deg, #211637 0%, rgba(34, 24, 57, 0) 20%),
     linear-gradient(0deg, #211637 5%, rgba(34, 24, 57, 0) 30%),
     url("../image/shutterstock.png");
     background-repeat: no-repeat, no-repeat, no-repeat;
     background-position: auto;
     width: 1250px;
     height: 550px;
     background-size: contain; 
 }
 
 .content {
     text-align: center;
 }
 
 .imgicon {
    width: 50px;
    height: 50px;
    padding-top: 60px;
    padding-bottom: 10px;
    
 }
 .instruments {
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    word-spacing: 1.4px;
    
    padding: 0 25px;
 }

.bold {
    font-weight: bold;
}
 .question {
     background-image: url(../image/sign.png);
     background-repeat: no-repeat;  
     background-size: 450px;
     height: 400px;
     width: 520px;
     margin-left: -20px;
     margin-top: -330px;
 }

 .man {
     background-image: linear-gradient(to top, #201636 0%, rgba(34, 24, 57, 0) 20%),
      url(../image/man.png); 
     background-repeat: no-repeat, no-repeat;  
     background-size: 320px;
     height: 400px;
     width: 520px;
     margin-left: 210px;
     margin-top: -340px;
 }

 h3 {
     text-align: center;
     margin: -250px;
     font-size: 21px;
     font-weight: 900;
 }

 .yellow {
     color: #F09F0C;
 }

 .statenents {
     text-align: center;
     margin: 260px;
 }

 .completion {
     margin-bottom: 200px;
 } 

 .list {
    margin-left: 500px;
    margin-top: -340px;
 }

 li {
     background-image: url(../image/Arrow.png);
     background-repeat: no-repeat;
     list-style: none;
     background-size: 20px;
     margin: 15px;
     font-weight: 300;
     font-size: 12px;
     padding-left: 50px;
     Line height 25px  
 }